body {
	margin: 0;
	padding: 0;
	font-size: 100%;
	line-height: 1.6;
	font-family: Arial, Helvetica, sans-serif;
  }
  
  #wrapper {
	position: relative;
	width: 100%;
	min-height: 55vw;
	overflow: hidden;
  }
  
  #map1,
  #map2 {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
	overflow: hidden;
  }
  
  #map1 .content-wrap,
  #map2 .content-wrap {
	position: absolute;
	width: 100vw;
	min-height: 55vw;
  }
  
  #map1 .content-body,
  #map2 .content-body {
	width: 25%;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	color: #fff;
  }
  
  #map1 img,
  #map2 img {
	position: absolute;
	width: 35%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  
  #map1 h1,
  #map2 h1 {
	font-size: 2em;
  }
  
  #map1 {
	background: #fffcfc;
	z-index: 1;
	transition: background 0.3s;
	left: 0%;
  }
  
  #map1 .content-body {
	right: 0;
  }
  
  #map1 h1 {
	color: #fdab00;
  }
  
  #map2 {
	background: #fffdfd;
	color: #222;
	z-index: 2;
	transition: background 0.3s;
	width: 50vw;
  }
  
  #map2 .content-body {
	left: 0;
	color: #222;
  }
  
  .handle {
	position: absolute;
	height: 100%;
	display: block;
	background-color: #fdab00;
	width: 5px;
	top: 0;
	left: 50%;
	z-index: 3;
  }
  
  @media (max-width: 768px) {
	body {
	  font-size: 75%;
	}
  }
  